<div style="text-align:left; padding-left: 10px; padding-right: 10px">
  <div class="row" style="background-color:lightblue; padding: 5px">
      <h3 style="padding: 10px">Violation Codes</h3>
  </div>
  <div style="height: 650px" class="tableFixedHead">
      <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 50px" class="stickyFirstHeader">ID</th>
          <th style="width: 50px" class="stickyFirstHeader">Program</th>
          <th style="width: 200px" class="stickyFirstHeader">Category</th>
          <th style="width: 400px" class="stickyFirstHeader">Code</th>
          <th style="width: 200px" class="stickyFirstHeader">Code Sections</th>
          <th style="width: 100px" class="stickyFirstHeader">Legacy Code</th>
          <th class="stickyFirstHeader">Long Description</th>
        </tr>
        <tr>
          <th  class="stickySecondHeader"></th>
          <th  class="stickySecondHeader"><input type=text (input)="onFilterInput($event.target.value)" [(ngModel)]="programFilter" size="5"></th>
          <th  class="stickySecondHeader"><input type=text (input)="onFilterInput($event.target.value)" [(ngModel)]="categoryFilter"></th>
          <th  class="stickySecondHeader"><input type=text (input)="onFilterInput($event.target.value)" [(ngModel)]="codeFilter"></th>
          <th  class="stickySecondHeader"><input type=text (input)="onFilterInput($event.target.value)" [(ngModel)]="codeSectionFilter"></th>
          <th  class="stickySecondHeader"><input type=text (input)="onFilterInput($event.target.value)" [(ngModel)]="legacyCodeFilter" size="10"></th>
          <th  class="stickySecondHeader"><input type=text (input)="onFilterInput($event.target.value)" [(ngModel)]="descriptionFilter"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let violationCode of violationCodes; let in = index">
          <td style="width: 50px">{{ violationCode.id }}</td>
          <td style="width: 50px">{{ violationCode.program }}</td>
          <td style="width: 200px">{{ violationCode.category }}</td>
          <td style="width: 400px">{{ violationCode.code }}</td>
          <td style="width: 200px">{{ violationCode.codeSections }}</td>
          <td style="width: 100px">{{ violationCode.legacyCode }}</td>
          <td>{{ violationCode.longDescription }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

