.tableFixedHead  {
  overflow-y: auto;
}

.stickyFirstHeader {
  position: sticky;
  top: 0;
}

.stickySecondHeader {
  position: sticky;
  top: 40px;
}

th {
  background: white;
  white-space: nowrap;
}

thead tr th {
  border: none;
}

thead th {
  height: 40px;
}